body{
  margin: 0;
  background-color: #303030;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar{
  background: white;
  padding: 1.25rem;
}

.nav-bar a {
  margin-right: 1.825rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.title{
  text-align: center;
  margin-top: 10rem;
}

.sub-title{
  text-align: center;
}

.link {
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}

.product{
  margin: 1.25rem auto; /* 20px / 16 = 1.25rem */
  width: 12.5rem; /* 200px / 16 = 12.5rem */
  background: white;
  color: black;
  padding: 1.25rem; /* 20px / 16 = 1.25rem */
  border-radius: 0.3125rem; /* 5px / 16 = 0.3125rem */
}

.product-img{
  width: 100%;
  height: auto;
}

.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
} 